:root {
  --bg: #131415;
  --bg-box: #13141599;
  --text: #e6eef8;
  --primary: #bb44bc;
  --primary-darker: #9c329c;
}

html,
body {
  font-family: "Oswald", sans-serif;
  color: var(--text);
  margin: 0;
  height: 100%;
}

header {
  backdrop-filter: blur(5px);
  background-color: var(--bg-box);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

header h1 {
  margin: auto;
}

header label {
  font-weight: 300;
}

/* Input fields, select dropdowns, and submit button */
input[type="url"],
input[type="release-and-artist"],
input[type="text"],
select,
button {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid var(--primary);
  border-radius: 5px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

/* Focus effect for input fields and select dropdown */
input[type="url"]:focus,
input[type="release-and-artist"]:focus,
input[type="text"]:focus,
select:focus {
  border-color: var(--primary-darker);
  outline: none;
}

/* Submit button */
button {
  background-color: var(--primary);
  color: white;
  cursor: pointer;
  border: none;
}

/* Submit button hover effect */
button:hover {
  background-color: var(--primary-darker);
}

footer {
  background-color: var(--bg);
}

footer p {
  margin: 0px;
  padding: 10px;
  font-weight: 300;
  font-size: small;
}

footer a {
  color: inherit;
  text-decoration: none;
}

.loading {
  opacity: 0.8;
  background: linear-gradient(
    90deg,
    var(--text),
    var(--text),
    var(--primary),
    var(--primary),
    var(--primary)
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: colorWave 3s linear infinite;
}

@keyframes colorWave {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.error-message {
  opacity: 0.8;
}

.content {
  padding: 10px;
  background-color: var(--bg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: none;
  backdrop-filter: blur(3px) saturate(30%);
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.video-player-box {
  flex: 2;
  padding: 20px;
  margin: 10px;
  backdrop-filter: blur(5px);
  background-color: var(--bg-box);
  border-radius: 10px;
}

.metadata-display-box {
  flex: 1;
  padding: 20px;
  margin: 10px;
  overflow-y: auto;
  backdrop-filter: blur(5px);
  background-color: var(--bg-box);
  border-radius: 10px;
}

.left-column {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.lyric-display-box {
  flex: 1;
  padding: 20px;
  margin: 10px;
  overflow-y: scroll;
  backdrop-filter: blur(5px);
  background-color: var(--bg-box);
  border-radius: 10px;
  font-size: x-large;
}

.hidden {
  display: none;
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
  }
  .left-column {
    width: auto;
    height: 50%;
  }
}
