:root {
  --bg: #131415;
  --text: #e6eef8;
  --primary: #bb44bc;
}

html,
body {
  font-family: "Oswald", sans-serif;
  color: var(--text);
  margin: 0;
  height: 100%;
}

header {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

header h1 {
  margin: auto;
}

label {
  font-weight: 300;
}

footer {
  background-color: #131415;
}

footer p {
  margin: 0px;
  padding: 10px;
  font-weight: 300;
  font-size: small;
}
footer a {
  color: inherit;
  text-decoration: none;
}

.loading {
  opacity: 0.8;
  background: linear-gradient(
    90deg,
    var(--text),
    var(--text),
    var(--primary),
    var(--primary),
    var(--primary)
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: colorWave 3s linear infinite;
}

@keyframes colorWave {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.error-message {
  opacity: 0.8;
}

.content {
  padding: 10px;
  background-color: var(--bg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: none;
  backdrop-filter: blur(3px) saturate(30%);
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.video-player-box {
  flex: 2;
  padding: 20px;
  margin: 10px;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.metadata-display-box {
  flex: 1;
  padding: 20px;
  margin: 10px;
  overflow-y: auto;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.left-column {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.lyric-display-box {
  flex: 1;
  padding: 20px;
  margin: 10px;
  overflow-y: scroll;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-size: x-large;
}

.hidden {
  display: none;
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
  }
  .left-column {
    width: auto;
    height: 50%;
  }
}
